# Virtual Environment
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Datasets and Databases (Avoid committing large files)
data/raw/
data/processed/

# IDEs
.vscode/
.idea/
.gemini/
.agents/


#notebook
notebooks/test.ipynb

#etc
project_plan.md